/* /<img src="/content/dam/invest-india/States-images/womenmail.png" alt=" feedback">/ */

body {
    padding: 0;
    margin: 0;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
:root {
    --color-orange: linear-gradient(45deg, #fa2424, #ed7e1e);
  }

/* Navbar */
header {
    margin-top: 7em;
    background: var(--color-white);
    z-index: 1 !important;
    box-shadow: rgb(49, 49, 49);
   
}

header .nav-item {
    padding: 0.5rem;
}

header .nav-item a {
    padding-top: 0.7rem;
    color: rgb(6, 0, 56) !important;
    font-size: 1.1rem;
    font-weight: 600;
}

header .navbar-brand {
    padding-left: 4rem;
}

header .navbar-nav {
    padding-right: 4rem;
}

header img {
    width: 120px;
}

header .nav-item a:hover {
    color: #ec4f01 !important;
}

.btn-1 {
    font-size: 1rem;
    font-weight: 600;
    padding: 0.8rem 2rem;
    background: -webkit-linear-gradient(45deg, #ff0000, #ff8000);
    -webkit-text-fill-color: #ffffff;
    border: none;
    border-radius: 5px;
    transition: 3s;
}

.btn-1:hover {
    background: -webkit-linear-gradient(45deg, #ff8000, #ff0000);
}

/* .btn-2:hover {
    background: #03003f;
    -webkit-text-fill-color: #ffffff;
}

.btn-2 {
    font-size: 1rem;
    font-weight: 600;
    padding: 0.8rem 2rem;
    background: transparent;
    -webkit-text-fill-color: #03003f;
    border-color: #03003f;
    border-radius: 5px;
} */



/* First */
.first {
    /* background-image: linear-gradient(45deg, #ff0000, #ff8000); */
    background-color: white;
    /* color: white; */
    color: #031864;
    padding-top: 6rem;
    /* padding-bottom: 5rem; */
}

.first-half {
    display: flex;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 5rem;
    /* padding-top: 5rem; */
}

.first-half .text-div {
    margin-left: 3rem;
    /* margin-right: 3rem; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.first-half .text-div h1 {

    font-size: 3.5rem;
    font-weight: bold;
    color: #040052;
    text-align: left;
}

.first-half .text-div h1 span {
    background: -webkit-linear-gradient(45deg, #fa2424, #fb8721);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom: 2px solid red;
}

.first-half .text-div p {
    text-align: left;
    margin-top: 2rem;
    margin-bottom: 2rem;

    font-size: 1.1rem;
    font-weight: 500;
    color: #5e5e5e;
}

.first-half .text-div button {
    background: linear-gradient(45deg, #fb8721, #fa2424);
    color: white;
    padding: 1rem;
     width: 250px;
    cursor: pointer;
    font-size: 1.5rem;
    border: none;
    outline: none;
    border-radius: 20px;
}

.first-half img {
    /* width: 25vw; */
    width: 40vw;
    /* border-radius: 30px; */
}

.first-half ul {
    list-style: none;
    text-align: center;
}

.first-half #name {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 0.5rem;
}

.first-half #position {
    font-size: 2rem;
}


.second-half {
    text-align: center;
    padding-bottom: 3rem;
}

.second-half .text-div {
    width: 90vw;
    margin: auto;
    display: flex;
    /* font-size: 3rem; */
    /* font-weight: bold; */
}

.second-half h1 {
    font-size: 3.5rem;
    margin-bottom: 1rem;
    /* font-weight: bold; */
    font-weight: bolder;
    padding-left: 100px;
}

.second-half .text-div h1 span {
    background: -webkit-linear-gradient(45deg, #fa2424, #fb8721);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom: 2px solid red;
}

.second-half p {
    font-size: 1.1rem;
    color: gray;
}

.second-half img {
    width: 20vw;
    margin: 1rem;
    margin-bottom: 0.5rem;
}

.second-half .images {
    display: flex;
    justify-content: center;
}
.first-image-div, .second-image-div{
    display: flex;
}

.second-half .each-image h2,
p {
    margin: 0;
    /* font-size: 1.5rem; */
}

.second-half .each-image h2 {
    margin-bottom: 0.5rem;
    background: -webkit-linear-gradient(45deg, #fa2424, #fb8721);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* border-bottom: 2px solid red; */
}

.second-half .each-image p {
    color: grey;
    font-size: 1.2rem;
}


/* /features/ */
.features1{
    background-color: white;
    /* color: white; */
    color: #031864;
    padding-top: 4rem;
    padding-bottom: 5rem !important;

}
.features-half1{
    display: flex;
    padding-left: 3rem;
    padding-right: 50px;
    /* padding-bottom: 5rem ; */
   
}
 .features-text1{
        margin: left 40px;
         margin-right: 40px; 
        display: flex;
        flex-direction: column;
        justify-content: center;  
 }
 .features-text1 h1 {
    font-size: 3.5rem;
    font-weight: bold;
    color: #040052;
    text-align: left;
}
.features-text1 h1 span {
    background: -webkit-linear-gradient(45deg, #fa2424, #fb8721);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom: 2px solid red;
}
.features-text1 p {
    text-align: left;
    margin-top: 2rem;
    margin-bottom: 2rem;

    font-size: 1.1rem;
    font-weight: 500;
    color: #5e5e5e;
}
.features-text1 button {
    background: linear-gradient(45deg, #fb8721, #fa2424);
    color: white;
    padding: 1rem;
     width: 50vw; 
    cursor: pointer;
    font-size: 1.5rem;
    width: 250px;
    border: none;
    outline: none;
    border-radius: 20px;
}
.features-img1 img {
    width: 40vw;
}
.cards{
    display: flex;
}

.features2{
    background-color: white;
    /* color: white; */
    color: #031864;
    padding-top: 6rem;
    padding-bottom: 5rem !important;
}
.features-half2{
    display: flex;
    padding-left: 20px;
    padding-right: 3rem;
    padding-bottom: 5rem;
   
}
 .features-text2{
        margin-left: 3rem;
        /* margin-right: 3rem; */
        display: flex;
        flex-direction: column;
        justify-content: center;  
 }
 .features-text2 h1 {
    font-size: 3.5rem;
    font-weight: bold;
    color: #040052;
    text-align: left;
}
.features-text2 h1 span {
    background: -webkit-linear-gradient(45deg, #fa2424, #fb8721);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom: 2px solid red;
}
.features-text2 p {
    text-align: left;
    margin-top: 2rem;
    margin-bottom: 2rem;

    font-size: 1.1rem;
    font-weight: 500;
    color: #5e5e5e;
}
.features-text2 button {
    background: linear-gradient(45deg, #fb8721, #fa2424);
    color: white;
    padding: 1rem;
     width: 50vw; 
    cursor: pointer;
    width: 250px;
    font-size: 1.5rem;
    border: none;
    outline: none;
    border-radius: 20px;
}
.features-img2 img {
    width: 40vw;
}

.one_punchline1 h1{
    font-size: 3.5rem;
    font-weight: bold;
    color: #040052;
    text-align:center;
    

}
.one_punchline1 h1 span{
    background: -webkit-linear-gradient(45deg, #fa2424, #fb8721);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom: 2px solid red;
}

.one_punchline2 h1{
    font-size: 3.5rem;
    font-weight: bold;
    color: #040052;
    text-align:center;
    padding-bottom: 3rem;
    
}
.one_punchline2 h1 span{
    background: -webkit-linear-gradient(45deg, #fa2424, #fb8721);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom: 2px solid red;
}


.faeatures-half2 {
    display: flex;
}
.faeatures-half1 {
    display: flex;
}

.benefits1{
    display:flex;
    flex-direction: column;
    padding: 20px;
}
.row{
    display: flex;
    justify-content: space-around;
   flex-wrap: wrap;
   box-sizing: border-box;
}
.benefits_shadow{
        display: flex;
        justify-content: space-around;
       flex-wrap: wrap;
       box-sizing: border-box;
       background-color: #ffffff;
       
}

.one_punchline3 h1{
    font-size: 3.5rem;
    font-weight: bold;
    color: #040052;
    text-align:center;
    /* padding-bottom: 3rem; */
    
}
.one_punchline3 h1 span{
    background: -webkit-linear-gradient(45deg, #fa2424, #fb8721);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom: 2px solid red;
}

.box{
    display: flex;
    flex-direction: column;
    width: 350px;
    height:450px;
    border:1px solid black;
    margin: 10px;
    overflow: hidden;
    align-items: center;
    text-align: justify;
    padding: 10px;
    border-radius: 15px;
    background: linear-gradient(to top,rgb(255,45,4)50%,white 50%);
    background-size: 100% 200%;
    transition: all .8s;
}
.box:hover{
    background-position: left bottom ;
    color:white;
    border:none;
    box-shadow:0 0 20px rgb(255,45,4) ;
}
.boxhead{
    font-family: century;
    text-align: center;
    margin:30px 0px;
    color: black;
    font-size: 3rem;
    font-weight: bold;
    color: #040052;
    text-align:center;
}
.box p{
  font-weight: 400;
}

p {
    margin-left: 1rem;
    margin-right: 1rem;
}

/* Third */
.third {
    /* padding-top: 5rem; */
    padding-bottom: 5rem;
}

.third .text-div {
    text-align: center;
    width: 90vw;
    margin: auto;
}

.third .text-div h1 {
    font-size: 3.5rem;
    margin-bottom: 1.5rem;
    color: #031864;
    /* font-weight: bold; */
    font-weight: 700;
}

.third .text-div h1 span {
    background: -webkit-linear-gradient(45deg, #fa2424, #fb8721);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom: 2px solid red;
}

.third .text-div p, .slider1 .textp {
    font-size: 1.1rem;
    color: black;
    font-weight: 700;
    margin-bottom: 2rem;
    text-align: center;
}

.third .program {
    display: flex;
    justify-content: center;
    /* margin-top: 3rem;   */
}

.third .program-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 2rem;
}

.third .program-text div {
    /* background-color: #fad9b4; */
    text-align: center;
    color: rgb(8, 8, 8);
    font-size: 1.1rem;
    border-radius: 20px;
    /* margin: 1rem; */
    margin-bottom: 1rem;
    width: 40vw;
}

.third .program-text button {
    background-image: linear-gradient(45deg, #ff0000, #ff8000);
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 1.3rem;
    padding: 1rem;
    width: 40vw;
    cursor: pointer;
    color: white;
}

.third #thumbnail {
    display: flex;
}

.third .program img {
    width: 30vw;
    /* background-color: #ffba69; */
    /* padding: 2.5rem; */
    border-radius: 20px;
}

.card{
    border-radius: 1000px !important;
}



/* .slider1 .heading {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2rem;
} */

.slider1 h1 {
    font-size: 3.5rem;
    margin-bottom: 1.5rem;
    color: #031864;
    /* font-weight: bold; */
    font-weight: 700;
    text-align: center;
}

.slider1 h1 span {
    background: -webkit-linear-gradient(45deg, #fa2424, #fb8721);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom: 2px solid red;
}

.slider1 .bold{
    font-weight: 800;
}

.slider1 .content h1{
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    background: -webkit-linear-gradient(45deg, #fa2424, #fb8721);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.slider1 .content p{
    color:#031864
}


.slider2 {
    /* padding-top: 5rem; */
    padding-bottom: 5rem;
    /* background-image: linear-gradient(147deg, #ffe53b 0%, #fd3838 74%); */
}

.slider2 h1 {
    font-size: 3.5rem;
    margin-bottom: 2.5rem;
    color: #031864;
    /* font-weight: bold; */
    font-weight: 700;
    text-align: center;
}

.slider2 h1 span {
    background: -webkit-linear-gradient(45deg, #fa2424, #fb8721);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom: 2px solid red;
}

/* /inspire/ */
.inspire {
    display: flex;
    margin-bottom: 0px;
    margin-left: 70px;
    margin-right: 150px;
    box-shadow: 3px 8px 7px ;
    border: 3px solid whitesmoke;
    background-color:#fff;
    text-align: center;
}

.inspire_img{
    width:40vw;
    
}
.inspire_content h1{
    font-size: 3.5rem;
    margin-bottom: 1.5rem;
    color: #031864;
    /* font-weight: bold; */
    font-weight: 700;
}
.inspire_content h1 span{
    background: -webkit-linear-gradient(45deg, #fa2424, #fb8721);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom: 2px solid red;
}

.inspire_content p{
    margin-top: 1rem;
    margin-bottom: 2rem;
   margin-left:30px;
   margin-right:80px ;
    font-size: 1.1rem;
    font-weight: 500;
    color: #5e5e5e;
}


/* Subscribe */
.subscribe {
    position: relative;
    margin-bottom: -5rem;
    background: -webkit-linear-gradient(0deg, #fa2424, #fb8721);
    border-radius: 15px;
    color: #fff;
}

#subscribe h2 {
    font-weight: 700;
}

.form {
    background: #ffffff;
    padding: 5px 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    /* /changed/ */
}

.form input {
    border-radius: 5px;
    border-style: none;
    color: rgb(29, 29, 29);
    background-color: white;
    padding: 9px 2.5rem;
    outline: none;
}

.btn-3 {
    font-size: 1rem;
    font-weight: 600;
    padding: 0.5rem 1.5rem;
    background: -webkit-linear-gradient(45deg, #ff0000, #ff8000);
    -webkit-text-fill-color: #ffffff;
    border: none;
    border-radius: 5px;
    transition: 3s;
}

.btn-3:hover {
    background: -webkit-linear-gradient(45deg, #ff8000, #ff0000);
}

@media (max-width: 576px) {
    .form input {
        padding: 9px 1rem;
    }
}


/* Footer section */
footer {
    display: relative;
    background-color: #000121;
    /* height: 80vh; */
}

.footer-container {
    padding-top: 9rem !important;
    padding: 1rem 4%;
}

.footer-end-container {
    padding: 1rem 6%;
}

footer .row h6 {
    font-size: 1.5rem;
    font-weight: 700;
}

#hr-line {
    width: 60px;
    background: var(--color-orange);
    height: 1.5px;
}

footer .contact-us p i {
    background: var(--color-orange);
    font-weight: 700;
}

footer .contact-us p div i {
    background: var(--color-orange);
    font-weight: 700;
}

.footer-end {
    background: -webkit-linear-gradient(0deg, #fa2424, #fb8721);
}

.social {
    padding-right: 5px;
}

.social a {
    height: 37px;
    width: 37px;
    background: #fa2424;
    color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 21px;
    border-radius: 15px;
    margin-top: 20px;
    transition: 1s;
}

.social a:hover {
    background: #fff;
    color: #fa2424;
}


@media (max-width: 1200px) {
    .first-half .text-div h1, .second-half h1, .second .text-div h1, .third .text-div h1{
        /* font-size: 2rem; */
    }
    .first-half .text-div p{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .second ul{
        margin-left: 2rem;
        margin-right: 2rem;
    }
}
@media (max-width: 1000px) {
    .first-half .text-div p, .second-half p, .second .text-div p, .third .text-div p, .first-half li{
        /* font-size: 1.3rem; */
    }
    
    .second-half .text-div, .second .text-div, .third .text-div{
        width: 85vw;
    }
    .third .program img{
        width: 40vw;
    }
}
@media (max-width:800px){
    .first-half{
        flex-direction: column;
    }
    .first-half .text-div{
        margin: 0;
        margin-top: 2rem;
    }
    .first-half .text-div button{
        width: 70vw;
    }
    .first-half img{
        width: 60vw;
        display: block;
        margin: auto;
    }
    
    .first-image-div, .second-image-div{
        flex-direction: column;
    }
    .second-half img{
        width: 35vw;
    }
    .second ul{
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        /* font-size: 1.3rem; */
    }
    .second ul p{
        margin-bottom: 0;
    }
    .third .program{
        flex-direction: column;
    }
    .third .program-text{
        margin-right: 0;
    }
    .third .program-text div{
        width: 85vw;
    }
    .third .program-text button{
        width: 80vw;
    }
    .third .program img{
        display: block;
        width: 70vw;
        margin: auto;
        margin-top: 2rem;
    }
}
@media (max-width:520px){
    .features{
        flex-direction: column;
    }
    .features ul{
        margin-bottom: 0;
        margin-left: 3rem;
    }
    .second ul img{
        height:5vh
    }
}

.slider1 .content h1{
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    background: -webkit-linear-gradient(45deg, #fa2424, #fb8721);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.slider1 .content p{
    color:#031864
}
.ac-main{
    padding-right: 150px;
}
.img{
    padding-left: 170px;
}